{% extends "crew/base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="row">
    <div class="col-md-9 col-md-offset-2 col-sm-8 col-sm-offset-3">
      <div class="page-header">
        <h1>学籍导入</h1>
      </div>
      <div id="id-message"></div>
      <div id="id-file-upload" class="input-group">
        <span class="input-group-btn">
          <label class="btn btn-default">
            选择文件(*.xls)<input id="id-file-select" type="file" name="file" style="display: none" accept="application/vnd.ms-excel">
          </label>
        </span>
        <input id="id-file-name" type="text" class="form-control" readonly="readonly">
        <span class="input-group-btn">
          <button id="id-file-submit" class="btn btn-primary disabled">导入</button>
        </span>
      </div>
    </div>

  </div>
  <script src="{% static 'js/vendor/jquery.ui.widget.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/vendor/jquery.iframe-transport.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/vendor/jquery.fileupload.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/import_crew.js' %}"></script>
{% endblock %}