.table-container {
    overflow: scroll;
    max-height: 600px;
}
table {
    font-size: 10px;
}
table th.name {
    min-width: 70px;
}
table th.score {
    min-width: 40px;
}
table th.rank {
    min-width: 40px;
}
table th.student-id {
    min-width: 80px;
}
table th.school {
    min-width: 70px;
}
table th.grade {
    min-width: 70px;
}
table th.class {
    min-width: 40px;
}
table th.prop {
    min-width: 50px;
}

table th.klass {
    min-width: 80px;
}
th.level, th.level-ratio {
    min-width: 70px;
}
th.score-level {
    min-width: 80px;
}


td.rank-up {
    color: red;
}
td.rank-down {
    color: green;
}

.panel-compact .panel-body {
    font-size: 11px;
}
.panel-compact .form-group {
    margin-bottom: 5px;
}
.panel-compact .form-control {
    font-size: 11px;
    height: 25px;
}
.panel-compact select[multiple] {
    height: auto;
}

.stat-table th, .stat-table td{
    text-align: center;
}