{% load staticfiles %}
<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">博中信息管理系统</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown {% ifequal cur_module "student" %} active {% endifequal %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">学籍管理<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'crew:student_query' %}">学籍查询/修改</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'crew:student_import' %}">学籍导入</a></li>
              </ul>
            </li>
            <li class="dropdown {% ifequal cur_module "record" %} active {% endifequal %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">成绩管理<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'crew:record_query' %}">成绩录入</a></li>
                <li><a href="#">成绩导入</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'crew:record_analysis' %}">名次分析</a></li>
                <li><a href="{% url 'crew:record_average_analysis' %}">平均分分析</a></li>
                <li><a href="{% url 'crew:record_average_cmp_analysis' %}">平均分进退分析</a></li>
                <li><a href="{% url 'crew:record_segment_analysis' %}">分数段分析</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">当前用户: {{ user.username }}</a></li>
            <li><a href="#">退出</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

