{% load level_tags %}
<table class="table table-striped table-bordered table-condensed stat-table">
  <thead>
  <tr>
    <th class="school">学校</th>
    <th class="klass">班级</th>
{#    <th>考号</th>#}
    <th class="student-id">学号</th>
    <th class="name">姓名</th>
    {% for subject in subjects %}
      <th class="score-level">{{ subject }}</th>
    {% endfor %}

  </tr>
  </thead>
  <tbody>
  {% for row in data %}
    <tr>
      <td>{{ row|school }}</td>
      <td>{{ row|grade }}{{ row|class_idx }}班</td>
{#      <td>{{ row|value:'exam_id' }}</td>#}
      <td>{{ row|value:'student_id' }}</td>
      <td>{{ row|value:'name' }}</td>
      {% for subject in subjects %}
        <td>
          {% if row|score:subject %}
          {{ row|score:subject }}<span class="level">{% if row|is_level_a:subject %}(一本){% elif row|is_level_b:subject %}
          (二本){% endif %}</span>
          {% else %} 缺考 {% endif %}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>

