{% load rank_tags %}
{% for subject_name,df,agg,segments in data %}
<table class="table table-striped table-bordered table-condensed">
  <caption>{{ subject_name }} 分数段</caption>
  <thead>
  <tr>
    <th>班级</th>
    <th>人数</th>
    {% for seg in segments %}
      <th>{{ seg }}累计</th>
    {% endfor %}
  </tr>
  </thead>
  <tbody>
  {% for row in df %}
    <tr>
      <td>{{ row|value:'class_idx' }}</td>
      <td>{{ row|value:'total' }}</td>
      {% for seg in segments %}
        <td>{{ row|value:seg }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
  <tr>
    <td>总计</td>
    <td>{{ agg|value:'total' }}</td>
    {% for seg in segments %}
      <td>{{ agg|value:seg }}</td>
    {% endfor %}
  </tr>
  </tbody>
</table>
{% endfor %}