<div class="btn-toolbar">
  <button class="btn btn-default" id="id-btn-export">导出</button>
  <nav>
    <ul class="pagination" style="margin: 0">
      {% if students.has_previous %}
      <li>
        <a href="#" onclick="query_student_list({{ students.previous_page_number }})" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a>
      </li>
      {% else %}
      <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
      {% endif %}
      {% for p in students.paginator.page_range %}
        {% ifequal students.number p %}
          <li class="active"><a href="#">{{ p }}</a></li>
        {% else %}
          <li>
            <a href="#" onclick="query_student_list({{ p }}, false)">{{ p }}</a>
          </li>
        {% endifequal %}
      {% endfor %}
      {% if students.has_next %}
      <li>
        <a href="#" onclick="query_student_list({{ students.next_page_number }})" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a>
      </li>
      {% else %}
        <li> <a href="#" aria-label="Next"> <span aria-hidden="Next">&laquo;</span> </a> </li>
      {% endif %}
    </ul>
  </nav>
</div>